* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #212529;
}

ul {
  list-style: none;
}

/* utility */

.container {
  width: 1100px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  text-align: center;
}

.btn {
  text-align: center;
  font-size: 16px;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #212529;
  background-color: #fff;
  color: #212529;
}

.show {
  display: block !important;
}

/* nav-bar */

.screen-show {
  display: none;
}

.nav-bar {
  max-height: 300px;
  overflow: hidden;
}

.nav-bar .menu {
  padding: 10px 0;
  justify-content: space-between;
}

.nav-bar .menu li {
  padding: 0 5px;
}

.nav-bar .menu ul li:first-child {
  padding-right: 50px;
}

.nav-bar .menu h3 {
  font-weight: 600;
}

.nav-bar .cart {
  padding: 10px 10px;
  border: 1px solid #212529;
  border-radius: 5px;
  transition: 0.2s;
}

.nav-bar .cart:hover {
  cursor: pointer;
  background-color: #212529;
  color: #fff;
}

.nav-bar .cart p {
  padding-left: 10px;
}

.nav-bar .cart .counter {
  position: relative;
  top: -1px;
  margin-left: 10px;
  padding: 4px 9px;
  font-size: 12px;
  text-align: center;
  border-radius: 50rem;
  background-color: #212529;
  color: #fff;
}

.nav-bar .cart-content {
  width: 400px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1;
}

.nav-bar .cart-content h3 {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #212529;
}

.nav-bar .cart-content li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .cart-content li em {
  padding-left: 10px;
}

.nav-bar .menu-dropdown {
  font-size: 14px;
  display: none;
}

.nav-bar .menu-dropdown li {
  margin-top: 5px;
}

.nav-bar .menu-dropdown .cart {
  margin: 20px 0;
  max-width: 100px;
  padding: 5px 5px;
}

.nav-bar .heading {
  height: 250px;
  text-align: center;
  background-color: #212529;
  color: white;
}

.nav-bar .heading h1 {
  font-size: 55px;
  font-weight: 500;
  padding-top: 70px;
}

.nav-bar .heading h5 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
}

/* content */

.content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.content img {
  width: 250px;
}

.content h3 {
  margin-top: 30px;
}

.content p {
  margin-top: 10px;
}

.content button {
  margin: 30px 0 20px;
}

/* footer */

.footer {
  margin-top: 50px;
  height: 200px;
  text-align: center;
  background-color: #212529;
  color: white;
}

.footer p {
  font-weight: 300;
  padding-top: 80px;
}

/* media queary */

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .screen-show {
    display: flex;
  }

  .screen-hide {
    display: none;
  }

  .nav-bar {
    overflow: auto;
    max-height: none;
  }

  .nav-bar .cart-content {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 20px;
  }

  .content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content img {
    width: 220px;
  }
}

@media (max-width: 426px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .content img {
    width: 180px;
  }
}
